.navMenu {
  padding:0;
}
.navMenu:first-child {
  border-bottom:1px solid #bfc4c9;
  padding-bottom:0;
}
.navMenuItem {
  max-width:255px;
  width:100%;
  padding-bottom:10px;
  margin-bottom:42px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border:1px solid transparent;
  font-weight:700;
  font-size:18px;
  transition:0.3s;
  background-color:transparent;
  cursor:pointer;
}
.navMenuItem:first-child {
  cursor:pointer;
}
.navMenuItem a {
  width:100%;
}
.navMenuItem .active {
  background:linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-bottom:1px solid #f98e23;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  background-clip:text;
}
.chevronWrapper {
  transition:0.3s;
}
.chevronWrapper .active {
  rotate:180deg;
}
.chevron .active * {
  color:#ff740f !important;
  fill:#ff740f !important;
}
.bookMenu {
  padding-left:20px;
  margin-bottom:42px;
  height:0;
  margin-top:-42px;
  overflow:hidden;
}
.bookMenuItem {
  display:flex;
}
.link {
  transition:0.3s;
  font-size:16px;
  font-weight:400;
  text-transform:none;
  margin-bottom:10px;
  line-height:28px;
}
.link:hover {
  color:#ff5253;
}
.activeLink {
  font-size:18px;
  font-weight:700;
  line-height:28px;
  background:linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  background-clip:text;
}
.count {
  margin-left:6px;
  color:#a7a7a7;
  line-height:24px;
  cursor:default;
  font-weight:400;
  font-size:14px;
  -webkit-text-fill-color:#a7a7a7;
  background-clip:none;
}
.visible {
  height:100%;
  margin-top:-30px;
  overflow:auto;
}
@media (max-width:956px) {
  .navMenu {
    padding:32px;
  }
  .navMenu:first-child {
    border-bottom:none;
  }
}
