.userMenu {
  position:absolute;
  width:270px;
  display:flex;
  justify-content:flex-end;
  top:80px;
  right:0;
  padding:32px 24px;
  background-color:#ffffff;
  z-index:1001;
  box-shadow:4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
  border-radius:0 0 10px 10px;
}
.menuList {
  display:flex;
  flex-direction:column;
  align-items:flex-end;
}
.menuItem {
  cursor:pointer;
  font-weight:700;
  font-size:18px;
  margin-top:42px;
}
.menuItem:first-child {
  margin-top:0;
}
